<!-- <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
  <div class="container-fluid ">
    <a class="navbar-brand text-white" href="#">Offcanvas Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse offcanvas-collapse open" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="#">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Notifications</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Switch account</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            settings
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item " href="#">Action</a></li>
            <li><a class="dropdown-item " href="#">Another action</a></li>
            <li><a class="dropdown-item " href="#">Something else here</a></li>
          </ul>
        </li>

      </ul>
        <form class="d-flex ml-auto ">
          <input class="form-control me-3 mr-lg-2 " type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success text-white" type="submit">Search</button>
        </form>
      
    </div>
  </div>
</nav> -->



<nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">
  <div class="container-fluid ">
    <a class="navbar-brand text-white" href="#">Offcanvas Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse offcanvas-collapse open  menu"  id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="#">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">Notifications</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Switch account</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Settings
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item " href="#">Action</a></li>
            <li><a class="dropdown-item " href="#">Another action</a></li>
            <li><a class="dropdown-item " href="#">Something else here</a></li>
          </ul>
        </li>

      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success text-white" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>



<div class="nav-scroller bg-white shadow-sm">
  <nav class="nav nav-underline d-flex mt-5 p-2 text-nowrap flex-nowrap" style="overflow-x: auto;">

    <a href="" class="nav-link">DashBoard</a>
    <a href="" class="nav-link">Friends 27</a>
    <a href="" class="nav-link">Explore</a>
    <a href="" class="nav-link">Suggitions</a>
    <a href="" class="nav-link">Link</a>
    <a href="" class="nav-link">Link</a>
    <a href="" class="nav-link">Link</a>
    <a href="" class="nav-link">Link</a>
    <a href="" class="nav-link">Link</a>
  </nav>
</div>
<div class="my-3 p-4">


  <div class=" d-flex a container color  m-auto  my-3  rounded shadow-sm">

    <div class=" d-flex my-2 py-2 " style="width: 70px; height: 70px;">
      <img class="" src="https://getbootstrap.com/docs/4.1/assets/brand/bootstrap-outline.svg" alt="">

      <p class="b m-2"><strong class=" ">Bootstrap</strong><br> Since2011</p>
    </div>


  </div>
  <div class="container shadow-lg my-3 p-3">
    <p>Recent updates</p>
    <hr class="dropdown-divider">
    <div class="d-flex ">
      <img style="width: 32px; height: 32px;" class="rounded m-1"
        src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2032%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_179c0945907%20text%20%7B%20fill%3A%23007bff%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A2pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_179c0945907%22%3E%3Crect%20width%3D%2232%22%20height%3D%2232%22%20fill%3D%22%23007bff%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2211.828125%22%20y%3D%2216.965625%22%3E32x32%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
        alt="">
      <p style="font-size: small;"><strong class="d-flux updates">@username</strong><br>
        Donec id elit non mi porta
        gravida at eget metus. Fusce dapibus, tellus ac cursus
        commodo, tortor mauris
        condimentum nibh, ut fermentum massa justo sit amet risus.
      </p>

    </div>
    <hr class="dropdown-divider">
    <div class="d-flex ">
      <img style="width: 32px; height: 32px;" class="rounded m-1"
        src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2032%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_179c0945910%20text%20%7B%20fill%3A%23e83e8c%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A2pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_179c0945910%22%3E%3Crect%20width%3D%2232%22%20height%3D%2232%22%20fill%3D%22%23e83e8c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2211.828125%22%20y%3D%2216.965625%22%3E32x32%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
        alt="">
      <p style="font-size: small;"><strong class="d-flux updates">@username</strong><br>
        Donec id elit non mi porta
        gravida at eget metus. Fusce dapibus, tellus ac cursus
        commodo, tortor mauris
        condimentum nibh, ut fermentum massa justo sit amet risus.
      </p>

    </div>
    <hr class="dropdown-divider">
    <div class="d-flex ">
      <img style="width: 32px; height: 32px;" class="rounded m-1"
        src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2032%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_179c0945912%20text%20%7B%20fill%3A%236f42c1%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A2pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_179c0945912%22%3E%3Crect%20width%3D%2232%22%20height%3D%2232%22%20fill%3D%22%236f42c1%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2211.828125%22%20y%3D%2216.965625%22%3E32x32%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
        alt="">
      <p style="font-size: small;"><strong class="d-flux updates">@username</strong><br>
        Donec id elit non mi porta
        gravida at eget metus. Fusce dapibus, tellus ac cursus
        commodo, tortor mauris
        condimentum nibh, ut fermentum massa justo sit amet risus.

      </p>
      <hr class="dropdown-divider">


    </div>
    <a href="" class="nav-link all pb-3">All updated</a><br>


  </div>


  <div class="container shadow-lg my-3 p-3">
    <p>Suggestions</p>
    <hr class="dropdown-divider">
    <div class="d-flex ">
      <img style="width: 32px; height: 32px;" class="rounded m-2 my-2"
        src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2032%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_179c0945907%20text%20%7B%20fill%3A%23007bff%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A2pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_179c0945907%22%3E%3Crect%20width%3D%2232%22%20height%3D%2232%22%20fill%3D%22%23007bff%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2211.828125%22%20y%3D%2216.965625%22%3E32x32%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
        alt="">
      <div class="d-flex w-100 my-1 m-1 full_name">
        <strong class="updates w-100 " style="font-size: small;">Full Name <br><span>@username</span></strong>

        <a href="" class="float-right nav-link ">Follow</a>

      </div>


      <hr class="dropdown-divider">

    </div>
    <hr class="dropdown-divider">
    <div class="d-flex ">
      <img style="width: 32px; height: 32px;" class="rounded m-2 my-2"
        src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2032%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_179c0945907%20text%20%7B%20fill%3A%23007bff%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A2pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_179c0945907%22%3E%3Crect%20width%3D%2232%22%20height%3D%2232%22%20fill%3D%22%23007bff%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2211.828125%22%20y%3D%2216.965625%22%3E32x32%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
        alt="">
      <div class="d-flex w-100 my-1 m-1 full_name">
        <strong class="updates w-100 " style="font-size: small;">Full Name <br><span>@username</span></strong>

        <a href="" class="float-right nav-link ">Follow</a>

      </div>


      <hr class="dropdown-divider">

    </div>
    <hr class="dropdown-divider">

    <div class="d-flex ">
      <img style="width: 32px; height: 32px;" class="rounded m-2 my-2"
        src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2032%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_179c0945907%20text%20%7B%20fill%3A%23007bff%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A2pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_179c0945907%22%3E%3Crect%20width%3D%2232%22%20height%3D%2232%22%20fill%3D%22%23007bff%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2211.828125%22%20y%3D%2216.965625%22%3E32x32%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
        alt="">
      <div class="d-flex w-100 my-1 m-1 full_name">
        <strong class="updates w-100 " style="font-size: small;">Full Name <br><span>@username</span></strong>

        <a href="" class="float-right nav-link ">Follow</a>

      </div>


      <hr class="dropdown-divider">

    </div>
    <hr class="dropdown-divider">

    <a href="" class="nav-link all pb-3">All Suggestions</a><br>


  </div>
</div>